@config "../tailwind.config.js";
@import "tailwindcss";
* {
  font-family: "Montserrat", sans-serif;
}

.font-serif {
  font-family: "Cormorant Garamond", serif;
}

.font-sans {
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-gold: #c9a44c; /* Gold - for buttons, accents */
  --color-emerald: #0f3d2e; /* Emerald Green - for highlights, borders */
  --color-ivory: #fdf6f0; /* Ivory - background */
  --color-charcoal: #333333; /* Charcoal - main text */
  --color-warm-gray: #7d7d7d; /* Warm Gray - subtext, meta text */
}

html {
  scrollbar-color: var(--color-gold) #ffffff;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}



::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 999px;
  border: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #c79a2f;
}

@keyframes subtle-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.animate-subtle-zoom {
  animation: subtle-zoom 20s infinite ease-in-out;
}
